%h1 Top#show

= render 'show_messages'

.col-md-6
  = form_tag root_path, method: :get do
    .form-group.new_retention
      = label_tag :project_id, 'Project'
      .retentions
        = label_tag :Day, 'Days after'
      .retentions
        = number_field_tag 'retention[date][]'     , 1
        = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0
        \%
      .retentions
        = number_field_tag 'retention[date][]'     , 2
        = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0
        \%
      .retentions
        = number_field_tag 'retention[date][]'     , 3
        = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0
        \%
        %i{ class: "fa fa-plus-square fa-2x addRetentionField" }

      = submit_tag 'submit', class: 'btn btn-default'

.col-md-6
  .plan
    %canvas#graph_canvas{ :width =>'800', :height => '300'}

  = render 'retention_input'
