%h1 Top#show

= render 'show_messages'

.col-md-6
  %i{ class: "fa fa-plus-square fa-2x addRetentionField" }
  = form_tag root_path, method: :get do
    .form-group.new_retention
      = label_tag :newusers, 'Number of NU/day'
      = number_field_tag 'newusers', 1000
    .form-group.new_retention
      = label_tag :project_id, 'Project'
      .retentions
        = label_tag :Day, 'Days after'
      - if @retention_hash
        - @retention_hash.each_pair do |day, retention|
          - if !@interpolated_data[day]
            .retentions
              = number_field_tag 'retention[date][]'     , day
              = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: retention
              \%
      - else
        = render 'default_retention'
    = submit_tag 'submit', class: 'btn btn-default'
  = link_to 'Load Retention', '#', class: 'load-retention btn btn-default'

.col-md-6
  .plan
    #chart1

  = render 'retention_input'
