.retentions
  = number_field_tag 'retention[date][]'     , 0
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 100
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 1
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 40
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 2
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 25
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 3
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 23
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 4
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 21
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 5
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 19
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 6
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 17
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 7
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 15
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 14
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 10
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 30
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 7
  \%
.retentions
  = number_field_tag 'retention[date][]'     , 60
  = number_field_tag 'retention[value][]', params[:retention2], class: 'input_retention', step: 0.1, max: 100, min: 0, value: 2
  \%
