!!!
%html
  %head
    %title Prophet
    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: 'stylesheet'}
    %link{href: "//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css", rel: 'stylesheet'}
  %body
    .container
      .row
        .col-md-12
          .navbar.navbar-inverse
            .navbar-header
              = link_to 'Cravitee', root_path, class: 'navbar-brand'
            .navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                  %a{href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                    Menu
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      test
          .col-md-11
            = yield
